*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: "Roboto", sans-serif;
}

ul {
	list-style: none;
}

div:not(.weight, .height, .btn) {
	border-top: 1px solid black;
}

h1:not(h1.name),
h2,
h3,
p,
li {
	margin: 10px 0;
}

span:not(.ability0) {
	font-weight: bold;
}

.main {
	width: 360px;
	height: 640px;
	border: 1px solid #f5f5f5;
	border-radius: 5px;
	position: relative;
	background-color: #ff9248;
	padding: 5px;
}

.id {
	margin-bottom: 20px;
}

.title {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: space-between;
	justify-content: center;
	height: 100px;
}

.title,
.category {
	flex-basis: 50%;
}

.type {
	display: flex;
	align-items: center;
}

.type p {
	margin-left: 20px;
	font-size: 1.2rem;
}

.title > img {
	width: 90px;
	height: 90px;
	border: 2px solid #ffd700;
	outline: 1px solid black;
}

.abilities {
	display: flex;
	flex-wrap: wrap;
}

.ability-title {
	flex-basis: 100%;
}

.ability-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-basis: 100%;
}

.ability-list li:not(.ability-class) {
	flex-basis: calc(100% / 3);
	flex-shrink: 0;
	text-align: center;
	margin: 5px 0;
}

.ability-class {
	flex-basis: 100%;
}

.ability-list.ability {
	text-align: center;
}

.ability0 {
	margin-left: 30px;
}

.btn {
	width: 100%;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 25px;
}

.reload {
	flex-basis: 50%;
	height: 100%;
	border: 2px solid #f5f5f5;
	background-color: #5ca904;
	color: #fff;
	cursor: pointer;
}

.credits {
	margin-top: 50px;
	color: #f5f5f5;
}

@media screen and (max-height: 800px) {
	.credits {
		display: none;
	}
}
